# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file

# クラウド側で操作しなければ不要.
# azure-storage-blob==1.4.0

pandas==1.1.3
